Programs/DashboardHomeMonitoringSystem.json
[
   {
      "id":"1cf3cf3d.389711",
      "type":"tab",
      "label":"Flow 1",
      "disabled":false,
      "info":""
   },
   {
      "id":"33ed3ecd.5d0b62",
      "type":"mqtt in",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/recognition",
      "qos":"2",
      "datatype":"auto",
      "broker":"2dd667e1.d537d8",
      "x":250,
      "y":200,
      "wires":[
         [
            "c9417425.b46888",
            "d41fdafb.633288"
         ]
      ]
   },
   {
      "id":"c9417425.b46888",
      "type":"debug",
      "z":"1cf3cf3d.389711",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "x":590,
      "y":200,
      "wires":[

      ]
   },
   {
      "id":"60c55335.72041c",
      "type":"comment",
      "z":"1cf3cf3d.389711",
      "name":"Reading",
      "info":"",
      "x":160,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"d41fdafb.633288",
      "type":"serial out",
      "z":"1cf3cf3d.389711",
      "name":"Vers l'arduino ",
      "serial":"d9776fd0.cc47b",
      "x":600,
      "y":240,
      "wires":[

      ]
   },
   {
      "id":"e52ac0a3.fafba",
      "type":"ui_button",
      "z":"1cf3cf3d.389711",
      "name":"",
      "group":"92b1d2cc.8e8f6",
      "order":6,
      "width":8,
      "height":1,
      "passthru":false,
      "label":"Exit",
      "tooltip":"",
      "color":"standby",
      "bgcolor":"",
      "icon":"mi-close",
      "payload":"0",
      "payloadType":"num",
      "topic":"",
      "x":150,
      "y":360,
      "wires":[
         [
            "276fde2d.8e49c2"
         ]
      ]
   },
   {
      "id":"276fde2d.8e49c2",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/option",
      "qos":"2",
      "retain":"false",
      "broker":"2dd667e1.d537d8",
      "x":680,
      "y":360,
      "wires":[

      ]
   },
   {
      "id":"3524152e.e1cd5a",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/option",
      "qos":"2",
      "retain":"false",
      "broker":"2dd667e1.d537d8",
      "x":680,
      "y":400,
      "wires":[

      ]
   },
   {
      "id":"55e6f6b.7023708",
      "type":"ui_button",
      "z":"1cf3cf3d.389711",
      "name":"",
      "group":"92b1d2cc.8e8f6",
      "order":2,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Prédire personne",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"mi-person_pin",
      "payload":"1",
      "payloadType":"num",
      "topic":"",
      "x":190,
      "y":446,
      "wires":[
         [
            "ddf909db.28de38"
         ]
      ]
   },
   {
      "id":"ddf909db.28de38",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/option",
      "qos":"2",
      "retain":"false",
      "broker":"2dd667e1.d537d8",
      "x":680,
      "y":446,
      "wires":[

      ]
   },
   {
      "id":"8d3992ca.bffc",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/option",
      "qos":"2",
      "retain":"false",
      "broker":"2dd667e1.d537d8",
      "x":680,
      "y":490,
      "wires":[

      ]
   },
   {
      "id":"52ca7bd4.d8b694",
      "type":"inject",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":190,
      "y":100,
      "wires":[
         [
            "ad3f9feb.d2edc"
         ]
      ]
   },
   {
      "id":"59716f0d.ac628",
      "type":"ui_text",
      "z":"1cf3cf3d.389711",
      "group":"11029123.60068f",
      "order":1,
      "width":18,
      "height":1,
      "name":"",
      "label":"Welcome to the site for controlling the front door",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":780,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"9674913c.088bc",
      "type":"comment",
      "z":"1cf3cf3d.389711",
      "name":"Welcome",
      "info":"",
      "x":160,
      "y":60,
      "wires":[

      ]
   },
   {
      "id":"c6858613.39b978",
      "type":"comment",
      "z":"1cf3cf3d.389711",
      "name":"Control",
      "info":"",
      "x":150,
      "y":260,
      "wires":[

      ]
   },
   {
      "id":"60fb4860.b3f2b8",
      "type":"http request",
      "z":"1cf3cf3d.389711",
      "name":"",
      "method":"GET",
      "ret":"obj",
      "paytoqs":false,
      "url":"http://api.openweathermap.org/data/2.5/weather?q=Virton&appid=5d0db7274f935b2d9f9f012dc7f56a4f",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"",
      "x":410,
      "y":620,
      "wires":[
         [
            "fc465fb7.b8d53",
            "4920afe4.b927c"
         ]
      ]
   },
   {
      "id":"476789c2.eac198",
      "type":"inject",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":190,
      "y":620,
      "wires":[
         [
            "60fb4860.b3f2b8"
         ]
      ]
   },
   {
      "id":"fc465fb7.b8d53",
      "type":"change",
      "z":"1cf3cf3d.389711",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.main.humidity",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":660,
      "y":620,
      "wires":[
         [
            "d5de8dcf.76061"
         ]
      ]
   },
   {
      "id":"4920afe4.b927c",
      "type":"change",
      "z":"1cf3cf3d.389711",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.main.temp",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":660,
      "y":660,
      "wires":[
         [
            "2985fffc.359af"
         ]
      ]
   },
   {
      "id":"9d0aaa51.3af698",
      "type":"comment",
      "z":"1cf3cf3d.389711",
      "name":"Weather",
      "info":"",
      "x":160,
      "y":580,
      "wires":[

      ]
   },
   {
      "id":"2985fffc.359af",
      "type":"function",
      "z":"1cf3cf3d.389711",
      "name":"Convert Kelvin To Celsius",
      "func":"\nvar temp = msg.payload -=273;\ntemp = parseFloat(temp.toFixed(2))\nmsg.payload = temp;\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":870,
      "y":660,
      "wires":[
         [
            "1bfe995f.c72ed7"
         ]
      ]
   },
   {
      "id":"1bfe995f.c72ed7",
      "type":"ui_gauge",
      "z":"1cf3cf3d.389711",
      "name":"",
      "group":"d37980cf.8fc7",
      "order":1,
      "width":6,
      "height":4,
      "gtype":"gage",
      "title":"Temperature",
      "label":"°C",
      "format":"{{value | uppercase}}",
      "min":"-20",
      "max":"40",
      "colors":[
         "#00a3d8",
         "#fffc00",
         "#ff2600"
      ],
      "seg1":"14",
      "seg2":"20",
      "x":1090,
      "y":660,
      "wires":[

      ]
   },
   {
      "id":"d5de8dcf.76061",
      "type":"ui_gauge",
      "z":"1cf3cf3d.389711",
      "name":"",
      "group":"d37980cf.8fc7",
      "order":2,
      "width":6,
      "height":4,
      "gtype":"gage",
      "title":"Humidity",
      "label":"%",
      "format":"{{value | uppercase}}",
      "min":"0",
      "max":"100",
      "colors":[
         "#ffffff",
         "#00fdff",
         "#0432ff"
      ],
      "seg1":"",
      "seg2":"",
      "x":1080,
      "y":620,
      "wires":[

      ]
   },
   {
      "id":"20eb2bde.75c5a4",
      "type":"base64",
      "z":"1cf3cf3d.389711",
      "name":"",
      "action":"str",
      "property":"payload",
      "x":560,
      "y":760,
      "wires":[
         [
            "15b073c1.f5ae0c"
         ]
      ]
   },
   {
      "id":"15b073c1.f5ae0c",
      "type":"template",
      "z":"1cf3cf3d.389711",
      "name":"",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
      "output":"str",
      "x":720,
      "y":760,
      "wires":[
         [
            "4d4fd6f0.dbd8a8"
         ]
      ]
   },
   {
      "id":"4d4fd6f0.dbd8a8",
      "type":"ui_template",
      "z":"1cf3cf3d.389711",
      "group":"5b835d34.94d844",
      "name":"",
      "order":1,
      "width":6,
      "height":6,
      "format":"<div ng-bind-html=\"msg.payload\"></div>",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "resendOnRefresh":false,
      "templateScope":"local",
      "x":880,
      "y":760,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"ad3f9feb.d2edc",
      "type":"moment",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"",
      "input":"",
      "inputType":"msg",
      "inTz":"Europe/Brussels",
      "adjAmount":0,
      "adjType":"days",
      "adjDir":"add",
      "format":"HH:mm:ss DD/MM/YYYY",
      "locale":"fr_FR",
      "output":"",
      "outputType":"msg",
      "outTz":"Europe/Brussels",
      "x":420,
      "y":100,
      "wires":[
         [
            "59716f0d.ac628"
         ]
      ]
   },
   {
      "id":"fcdf8a39.6286d8",
      "type":"inject",
      "z":"1cf3cf3d.389711",
      "d":true,
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"2",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":190,
      "y":760,
      "wires":[
         [
            "1822ea1.c2a5416"
         ]
      ]
   },
   {
      "id":"1822ea1.c2a5416",
      "type":"camerapi-takephoto",
      "z":"1cf3cf3d.389711",
      "filemode":"0",
      "filename":"",
      "filedefpath":"1",
      "filepath":"",
      "fileformat":"jpeg",
      "resolution":"1",
      "rotation":"180",
      "fliph":"0",
      "flipv":"0",
      "brightness":"50",
      "contrast":"0",
      "sharpness":"0",
      "quality":"80",
      "imageeffect":"none",
      "exposuremode":"auto",
      "iso":"0",
      "agcwait":"1.0",
      "led":"1",
      "awb":"auto",
      "name":"",
      "x":380,
      "y":760,
      "wires":[
         [
            "20eb2bde.75c5a4"
         ]
      ]
   },
   {
      "id":"4329346f.6b71ec",
      "type":"ui_button",
      "z":"1cf3cf3d.389711",
      "name":"Ajouter une nouvelle personne avec PiCamera",
      "group":"92b1d2cc.8e8f6",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Ajouter une nouvelle personne avec PiCamera",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"2",
      "payloadType":"num",
      "topic":"",
      "x":280,
      "y":400,
      "wires":[
         [
            "3524152e.e1cd5a"
         ]
      ]
   },
   {
      "id":"6677911c.94155",
      "type":"ui_button",
      "z":"1cf3cf3d.389711",
      "name":"Ajouter une personne via des photos",
      "group":"92b1d2cc.8e8f6",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Ajouter une personne via des photos",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"3",
      "payloadType":"num",
      "topic":"",
      "x":250,
      "y":320,
      "wires":[
         [
            "f1ea7310.19c3b"
         ]
      ]
   },
   {
      "id":"42a9f08b.49d64",
      "type":"ui_button",
      "z":"1cf3cf3d.389711",
      "name":"Supprimer une personne",
      "group":"92b1d2cc.8e8f6",
      "order":4,
      "width":8,
      "height":1,
      "passthru":false,
      "label":"Supprimer une personne",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"4",
      "payloadType":"num",
      "topic":"",
      "x":210,
      "y":500,
      "wires":[
         [
            "8d3992ca.bffc"
         ]
      ]
   },
   {
      "id":"f1ea7310.19c3b",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/option",
      "qos":"2",
      "retain":"false",
      "broker":"2dd667e1.d537d8",
      "x":690,
      "y":320,
      "wires":[

      ]
   },
   {
      "id":"ed41622c.f164c",
      "type":"ui_text_input",
      "z":"1cf3cf3d.389711",
      "name":"",
      "label":"Last Name",
      "tooltip":"",
      "group":"e3318ad4.e304e8",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":"0",
      "topic":"",
      "x":1050,
      "y":300,
      "wires":[
         [
            "b644728a.71f03"
         ]
      ]
   },
   {
      "id":"9e373368.acdba",
      "type":"ui_text_input",
      "z":"1cf3cf3d.389711",
      "name":"",
      "label":"First name",
      "tooltip":"",
      "group":"e3318ad4.e304e8",
      "order":2,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":"0",
      "topic":"",
      "x":1050,
      "y":340,
      "wires":[
         [
            "77b34800.68fef8"
         ]
      ]
   },
   {
      "id":"77b34800.68fef8",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/prenom",
      "qos":"",
      "retain":"",
      "broker":"2dd667e1.d537d8",
      "x":1380,
      "y":340,
      "wires":[

      ]
   },
   {
      "id":"b644728a.71f03",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/nom",
      "qos":"",
      "retain":"",
      "broker":"2dd667e1.d537d8",
      "x":1370,
      "y":300,
      "wires":[

      ]
   },
   {
      "id":"de303190.04e4d",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/suppression",
      "qos":"",
      "retain":"",
      "broker":"2dd667e1.d537d8",
      "x":1380,
      "y":400,
      "wires":[

      ]
   },
   {
      "id":"a4f55d93.6e91d",
      "type":"ui_text_input",
      "z":"1cf3cf3d.389711",
      "name":"",
      "label":"Firstname_Lastname",
      "tooltip":"",
      "group":"56386093.662fc",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":"0",
      "topic":"",
      "x":1060,
      "y":400,
      "wires":[
         [
            "de303190.04e4d"
         ]
      ]
   },
   {
      "id":"db02a52b.132488",
      "type":"ui_text_input",
      "z":"1cf3cf3d.389711",
      "name":"Path",
      "label":"PATH",
      "tooltip":"",
      "group":"6ea9ce43.d5ca1",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":"0",
      "topic":"",
      "x":1030,
      "y":460,
      "wires":[
         [
            "e99b3a61.0a9808"
         ]
      ]
   },
   {
      "id":"e99b3a61.0a9808",
      "type":"mqtt out",
      "z":"1cf3cf3d.389711",
      "name":"",
      "topic":"etu30673@henallux.be/si/chemin",
      "qos":"",
      "retain":"",
      "broker":"2dd667e1.d537d8",
      "x":1360,
      "y":460,
      "wires":[

      ]
   },
   {
      "id":"2dd667e1.d537d8",
      "type":"mqtt-broker",
      "z":"",
      "name":"MQTT",
      "broker":"maqiatto.com",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthRetain":"false",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closeRetain":"false",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willRetain":"false",
      "willPayload":""
   },
   {
      "id":"d9776fd0.cc47b",
      "type":"serial-port",
      "z":"",
      "serialport":"/dev/ttyACM0",
      "serialbaud":"9600",
      "databits":"8",
      "parity":"none",
      "stopbits":"1",
      "waitfor":"",
      "newline":"\\n",
      "bin":"false",
      "out":"char",
      "addchar":"",
      "responsetimeout":"10000"
   },
   {
      "id":"92b1d2cc.8e8f6",
      "type":"ui_group",
      "z":"",
      "name":"Control",
      "tab":"e812f21c.6479f",
      "order":2,
      "disp":true,
      "width":"8",
      "collapse":true
   },
   {
      "id":"11029123.60068f",
      "type":"ui_group",
      "z":"",
      "name":"Welcome",
      "tab":"e812f21c.6479f",
      "order":1,
      "disp":false,
      "width":18,
      "collapse":false
   },
   {
      "id":"d37980cf.8fc7",
      "type":"ui_group",
      "z":"",
      "name":"Weather at Virton",
      "tab":"e812f21c.6479f",
      "order":6,
      "disp":true,
      "width":"12",
      "collapse":true
   },
   {
      "id":"5b835d34.94d844",
      "type":"ui_group",
      "z":"",
      "name":"Camera pi",
      "tab":"e812f21c.6479f",
      "order":7,
      "disp":true,
      "width":"10",
      "collapse":true
   },
   {
      "id":"e3318ad4.e304e8",
      "type":"ui_group",
      "z":"",
      "name":"Add new person with Pi Camera",
      "tab":"e812f21c.6479f",
      "order":3,
      "disp":true,
      "width":"6",
      "collapse":true
   },
   {
      "id":"56386093.662fc",
      "type":"ui_group",
      "z":"",
      "name":"Delete personn",
      "tab":"e812f21c.6479f",
      "order":5,
      "disp":true,
      "width":"6",
      "collapse":true
   },
   {
      "id":"6ea9ce43.d5ca1",
      "type":"ui_group",
      "z":"",
      "name":"Add new person with a downloaded picture",
      "tab":"e812f21c.6479f",
      "order":4,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"e812f21c.6479f",
      "type":"ui_tab",
      "z":"",
      "name":"Home monitoring system",
      "icon":"dashboard",
      "order":1,
      "disabled":false,
      "hidden":false
   }
]